.wrapper {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

.message {
  text-align: center;
  padding: 2rem;
  background-color: var(--clr-message-info);
  border-radius: 15px;
  margin-block: 2rem;
}

button {
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
}

button[type=submit]{
  padding: 1rem 2rem;
  align-self: center;
}

input[type=text]{
  border: none;
  background-color: var(--clr-input-bg-primary);
  color: var(--clr-input-text);
}

label {
  color: var(--clr-text-light);
}