:root {
  --ff: "Open Sans", sans-serif;

  /* Font weights */
  --fw-bold: 700;
  --fw-regular: 420;
  --fw-light: 360;

  /* Font sizes */
  --fs-heading-xl: clamp(2.5rem, 5vw + 1.5rem, 4.5rem); /* h1 */
  --fs-heading-l: clamp(2rem, 4vw + 1rem, 3rem); /* h2 */
  --fs-paragraph: clamp(1rem, 1.2vw + 1rem, 1.125rem); /* p */
  --fs-link: clamp(1.25rem, 1.2vw + 1rem, 1.125rem); /* a */
}

h1 {
  font: var(--fw-bold) var(--fs-heading-xl) / 1.2 var(--ff);
}

h2 {
  font: var(--fw-regular) var(--fs-heading-l) / 1.3 var(--ff);
}

p {
  font: var(--fw-light) var(--fs-paragraph) / 1.5 var(--ff);
  color: var(--clr-text-grey); /* Assuming you want this color */
}

button {
  font: var(--fw-regular) var(--fs-link) / 1.5 var(--ff);
}
